/*__STANDARD BLOCKS__*/

	/*__STANDARD BLOCKS__buttons*/

	.btn_b.v1 {
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		display: inline-block;
		text-align: center;
		text-decoration: none;
		white-space: nowrap;
		line-height: 1;
		cursor: pointer;
	}

	.btn_b.v1 { 
		background-color: #39e1bf;
	    color: #fff;
	    font-family: "helveticaneue-bold",Arial,sans-serif;
	    font-size: 12px;
	    height: 36px;
	    letter-spacing: 0.08em;
	    line-height: 36px;
	    padding: 0 23px;
	    text-transform: uppercase;
	}
	.btn_b.v1:hover {

	}
	.btn_b.v1:active {
		
	}

	/*__STANDARD BLOCKS__forms*/

	/*formGlobal_b*/

	.formGlobal_b {
		margin: 0 0 30px;
		padding: 0 180px;
	}
		.formGlobal_b-section {
			position: relative;
			margin: 0 0 40px;
			padding: 0 0 40px;
			border-bottom: 1px solid #01125c;
		}
		.formGlobal_b-section:last-of-type {
			padding-bottom: 0;
			border-bottom: none;
		}
			.formGlobal_b-col1 {
				float: left;
				width: 435px;
			}
			.formGlobal_b-col2 {
				float: right;
				width: 395px;
			}
		.formGlobal_b-fieldset {
			margin: 0 0 10px;
		}
		.formGlobal_b-fieldset:last-child {
			margin-bottom: 0;
		}
			.formGlobal_b-label {
				display: block;
				padding: 0 0 5px;
			}
				.formGlobal_b-label-td {
					display: table-cell;
					height: 36px;
					vertical-align: middle;
				}
			.formGlobal_b-inputWrap {
				position: relative;
				display: block;
				margin: 0 0 10px;
			}
			.formGlobal_b-inputWrap.w30p {
				width: 30%;
			}
			.formGlobal_b-inputWrap.w20p {
				width: 20%;
			}
			/* .formGlobal_b-fieldset.switcher .formGlobal_b-inputWrap {
				padding: 7px 0 0;
			} */
				.formGlobal_b-inputWrap-label {
					overflow: hidden;
					display: block;
					position: relative;
					top: -5px;
					font-size: 12px;
					line-height: 1.25;
				}
					.formGlobal_b-inputWrap-label .td {
						display: table-cell;
						height: 46px;
						vertical-align: middle;
					}
				.formGlobal_b-fieldset.dataBorn .formGlobal_b-inputWrap:before {
					content: "";
					position: absolute;
					top: 18px;
					right: 0;
					left: 0;
					height: 1px;
					background-color: #00aeef;
				}
				.inputText_b, .textarea_b {
					padding: 0 10px;
					background-color: #fff;
					background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,.1), rgba(255,255,255,.1));
					background-image: linear-gradient(to top, rgba(0,0,0,.1), rgba(255,255,255,.1));
					box-shadow: inset 0 5px 5px rgba(0,0,0,.25);
					border: none;
					font-size: 12px;
				}
				.inputText_b:focus, .textarea_b:focus {
					outline: 2px solid #39e1bf;
					/*border-color: #39e1bf;*/
				}
				.formGlobal_b-fieldset.error .inputText_b, .formGlobal_b-fieldset.error .textarea_b {
					outline: 2px solid #e13939;
				}
				.inputText_b {
					height: 36px;
				}
				.inputText_b.w100px {
					width: 100px !important;
				}
				.formGlobal_b select {
					padding: 8px 5px;
				}
				.textarea_b {
					padding-top: 12px;
					padding-bottom: 12px;
				}
				.formGlobal_b .inputText_b, .formGlobal_b .textarea_b, .formGlobal_b select {
					width: 100%;
				}
				.formGlobal_b-inputWrap .inputText_b {
					
				}
			.formGlobal_b-errorBox {
				margin: 0 0 20px;
			}	
			.formGlobal_b-errorBox.error {
				color: red;
			}
			.formGlobal_b-errorBox.complete {
				color: green;
			}
			.formGlobal_b-message {
				display: block;
				font-size: 11px;
			}
			.formGlobal_b-message.error{
				color: #f31d00;
			}
			.formGlobal_b-noteMark {
				color: #cb0000;
			}
			.formGlobal_b-footer{
				padding: 5px 0 0 85px;
			}
				.buttonForm_b {
					overflow: visible;
					background: none;
					border: none;
					margin: -10px;
					padding: 10px;
				}
				.buttonForm_b:focus {
					outline: none;
				}	
		.formGlobal_b-rules {
			display: none;
			overflow: auto;
			height: 93px;
			margin: 25px 0 0;
			padding: 10px 20px;
			border-radius: 5px;
			background-color: #fff;
			background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,.1), rgba(255,255,255,.1));
			background-image: linear-gradient(to top, rgba(0,0,0,.1), rgba(255,255,255,.1));
			box-shadow: inset 0 5px 5px rgba(0,0,0,.25);
			color: #000;
			font-size: 12px;
			line-height: 1.3;
		}		
		.formGlobal_b-rules.customScrollbar {
			padding-right: 0;
		}								

		/*__STANDARD BLOCKS__forms_custom*/

		.checkboxCustom_b {

		}
			.checkboxCustom_b-input {
				position: absolute;
				z-index: -1;
				opacity: 0;
			}
			.checkboxCustom_b.checkbox .checkboxCustom_b-label {
				display: inline-block;
				height: 18px;
				padding: 0 0 0 30px;
				background-repeat: no-repeat;
				/*background-image: url(../img/icon-checkbox.png);*/
			}
			.checkboxCustom_b.radio .checkboxCustom_b-label {
				display: inline-block;
				height: 18px;
				padding: 0 0 0 30px;
				background-repeat: no-repeat;
				/*background-image: url(../img/icon-radio.png);*/
			}
				.checkboxCustom_b.checkbox .checkboxCustom_b-input:checked + .checkboxCustom_b-label {
					/*background-image: url(../img/icon-checkbox_done.png);*/
				}
				.checkboxCustom_b.radio .checkboxCustom_b-input:checked + .checkboxCustom_b-label {
					/*background-image: url(../img/icon-checkbox_done.png);*/
				}

		.customSelect_b {
			width: 100%;
			height: 30px;
			vertical-align: top;
		}			

	/*__STANDARD BLOCKS__links*/

	.pseudo_link {
		display: inline-block;
		text-decoration: none;
		white-space: nowrap;
		cursor: pointer;
	}
		.pseudo_link > span {
			display: inline-block;
			border-bottom: 1px dotted;
			line-height: .8;
		}

/*__STANDARD BLOCKS__dialogs*/

/*dialog_b*/

.dialog_b {
	display: none;
}
	.dialog-wrap {
		
	}
		.dialog_b-header {

		}
			.dialog_b-close {
				position: absolute;
				top: 0;
				right: 0;
				width: 21px;
				height: 21px;
				/*background: url(../img/icon-close.png) 0 0 no-repeat;*/
				cursor: pointer;
			}
			.dialog_b-heading {

			}
		.dialog_b-content {

		}
		.dialog_b-footer {

		}

/*__STANDARD BLOCKS__socshare*/	

.socshare_b {

}
	.socshare_b-heading {
		display: inline-block;
		vertical-align: middle;
		font-family: "helveticaneue-condensedbold", Helvetica, sans-serif;
		font-size: 16px;
	}
	.socshare_b-icons {
		display: inline-block;
		vertical-align: middle;
		height: 34px;
	}
	.socshare_b .b-share {
		padding: 0 !important;
	}
		.socshare_b .b-share__handle {
			float: none !important;
			display: inline-block !important;
			margin: 0 10px 0 0 !important;
			padding: 0 !important;
		}
			.socshare_b .b-share-icon {
				width: 35px !important;
				height: 34px !important;
			}
			.socshare_b .b-share-icon_vkontakte {
				/*background: url(../img/icon-vk1.png) 0 0 no-repeat;*/
			}
			.socshare_b .b-share-icon_facebook {
				/*background: url(../img/icon-fb1.png) 0 0 no-repeat;*/
			}
			.socshare_b .b-share-icon_odnoklassniki {
				/*background: url(../img/icon-ok1.png) 0 0 no-repeat;*/
			}	