/*__TABS__*/

.ui-state-default:focus, .ui-state-default a:focus{
	outline: none;
}
.ui-tabs-active a{
	cursor: default;
}

/*__DATEPICKER__*/

.ui-datepicker {
	width: 185px;
	background-color: #000;
	border-radius: 4px;
	box-shadow: 0 0 54px rgba(0,0,0,.27);
	color: #fff;
	text-align: center;
}
	.ui-datepicker .ui-datepicker-header {
		position: relative;
		padding: 5px;
		background-color: #1f5beb;
		border-radius: 4px 4px 0 0;
	}
		.ui-datepicker .ui-datepicker-prev,
		.ui-datepicker .ui-datepicker-next {
			position: absolute;
			top: 50%;
			width: 16px;
			height: 16px;
			margin: -8px 0 0;
			border-right: none;
			cursor: pointer;
		}
		.ui-datepicker .ui-datepicker-prev {
			left: 10px;
			background-position: 0 0;
		}
		.ui-datepicker .ui-datepicker-next {
			right: 10px;
			background-position: -16px 0;
		}
		.ui-datepicker .ui-datepicker-title {
			font-size: 21px;
		}
	.ui-datepicker-calendar {
		display: inline-block;
		padding: 5px 10px;
	}
		.ui-datepicker-calendar th {
			width: 25px;
			padding: 0 0 3px;
			font-size: 10px;
			font-weight: normal;
		}
		.ui-datepicker-week-end {
			color: #ff3535;
		}
		.ui-datepicker-calendar td {
			width: 25px;
			padding: 0 0 5px;
			font-size: 13px;
		}
		.ui-datepicker-calendar .ui-state-default {
			display: inline-block;
			width: 18px;
			line-height: 18px;
			border: 1px solid transparent;
			color: #fff;
			text-decoration: none;
		}
		.ui-datepicker-today .ui-state-default, .ui-datepicker-calendar .ui-state-hover, .ui-datepicker-calendar .ui-state-active {
			border-radius: 50%;
		}
		.ui-datepicker-today .ui-state-default {
			background-color: #363636;
			border-color: #363636;
		}
		.ui-datepicker-calendar .ui-state-hover {
			border-color: #1f5beb;
		}
		.ui-datepicker-calendar .ui-state-active {
			background-color: #1f5beb;
			border-color: #1f5beb;
		}

/*__SPINNER__*/

.ui-spinner{
	position: relative;
	display: block;
}
	.ui-spinner-button{
		position: absolute;
		top: 0;
		width: 30px;
		height: 30px;
		/*background-image: url(../../img/icon-plusminus.png);*/
		background-repeat: no-repeat;
		text-indent: -9999px;
		cursor: pointer;
	}
	.ui-spinner-up{
		right: -30px;
		background-position: 0 0;
	}
	.ui-spinner-down{
		left: -30px;
		background-position: 0 -30px;
	}

/*SLIDER*/

.ui-slider {
	position: relative;
	text-align: left;
}
	.ui-slider .ui-slider-handle {
		position: absolute;
		z-index: 2;
		width: 1.2em;
		height: 1.2em;
		cursor: default;
	}
	.ui-slider .ui-slider-handle:focus {
		outline: none;
	}
	.ui-slider .ui-slider-range {
		position: absolute;
		z-index: 1;
		font-size: .7em;
		display: block;
		border: 0;
		background-position: 0 0;
	}

/*TOOLTIP*/

.ui-tooltip{
	min-width: 150px;
	padding: 4px 8px;
	position: absolute;
	z-index: 9999;
	background-color: #fff;
	border: 1px solid #c6c6c6;
	color: #000;
	text-align: center;
	text-transform: none;
}
	.ui-tooltip:after{
		content: "";
		position: absolute;
		top: -8px;
		left: 45px;
		width: 12px;
		height: 8px;
		/*background: url(../../img/arrows-3.png) 0 0 no-repeat;*/
	}

/*DIALOG*/

.ui-dialog{
	position: absolute;
	z-index: 5001;
	top: 0;
	left: 0;
	outline: none;
}
	.ui-dialog .ui-dialog-titlebar{
		display: none;
	}
		.ui-dialog .ui-dialog-content a{
			outline: none;
		}
.ui-widget-overlay{
	position: fixed;
	z-index: 5000;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0;
	filter: Alpha(Opacity=0);
	-webkit-transition: opacity ease .3s;
	transition: opacity ease .3s;
}
.ui-widget-overlay.bg {
	opacity: .2;
	filter: Alpha(Opacity=2);
}