/**
 * selectize.css (v0.9.1)
 * Copyright (c) 2013 Brian Reavis & contributors
 *
 * Licensed under the Apache License, Version 2.0 (the "License"); you may not use this
 * file except in compliance with the License. You may obtain a copy of the License at:
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF
 * ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 *
 * @author Brian Reavis <brian@thirdroute.com>
 */

.selectize-control {
    position: relative;
    color: #303030;
}
    .selectize-input {
        position: relative;
        z-index: 1;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        overflow: hidden;
        display: block;
        width: 100%;
        min-height: 36px;
        padding: 8px 12px 8px;
        background-color: #fff;
        background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,.1), rgba(255,255,255,.1));
        background-image: linear-gradient(to top, rgba(0,0,0,.1), rgba(255,255,255,.1));
        box-shadow: inset 0 5px 5px rgba(0,0,0,.25);
        border-radius: 5px;
        cursor: pointer;
    }
    .customSelect_b.large .selectize-input {
        min-height: 42px;
        padding-top: 11px;
    }
    .selectize-control.multi .selectize-input.has-items {
        padding: 6px 8px 3px;
    }
    .selectize-input.input-active {
        cursor: text;
    }
    .selectize-input.full {
        
    }
    .selectize-input.disabled,
    .selectize-input.disabled * {
        cursor: default !important;
    }
    .selectize-input.disabled {
        background-color: #fafafa;
        opacity: .5;
    }
    .selectize-input.focus {
      
    }
    .selectize-input.dropdown-active {
       border-radius: 5px 5px 0 0;
    }
        .selectize-control.single .selectize-input:after, .selectize-control.single .selectize-input:before {
            content: "";
            position: absolute;
            right: 10px;
        }
        .selectize-control.single .selectize-input:before {
            top: 50%;
            margin: -2px 0 0;
            border-width: 5px;
            border-style: solid;
            border-color: #414141 transparent transparent;
        }
        .selectize-control.single .selectize-input:after {
           
        }
        .selectize-control.single .selectize-input.dropdown-active:before {
            margin-top: -8px;
            border-color: transparent transparent #414141;
        }
        .selectize-control.rtl.single .selectize-input:after {
            left: 15px;
            right: auto;
        }
        .selectize-input .item {
            vertical-align: top;
            font-size: 14px;
            line-height: 20px;
             color: #0091d5;
        }
        .customSelect_b.large .selectize-input .item {
            font-size: 16px;
        }
        /*.formGlobal_b-fieldset.dataBorn .selectize-input .item {
            color: #0091d5;
        }*/
        .selectize-input > * {
            display: inline-block;
        }
        .selectize-input > input {
            padding: 0;
            max-width: 100%;
            height: 20px;
            margin: 0 2px 0 0;
            border: none;
            background: none;
            -webkit-user-select: auto !important;
            font-size: 14px;
        }
        .customSelect_b.large .selectize-input > input {
            font-size: 16px;
        }
        .selectize-control.searchoff .selectize-input .item + input {
            display: none !important;
        }
        .selectize-input > input:focus {
            outline: none !important;
        }
        .selectize-control.rtl .selectize-input > input {
            margin: 0 4px 0 -2px !important;
        }
        .selectize-control.multi .selectize-input > div {
            margin: 0 3px 3px 0;
            padding: 2px 6px;
            background: #f2f2f2;
            color: #303030;
            cursor: pointer;
        }
        .selectize-control.multi .selectize-input > div.active {
            background: #e8e8e8;
            color: #303030;
        }
        .selectize-control.multi .selectize-input.disabled > div,
        .selectize-control.multi .selectize-input.disabled > div.active {
            color: #7d7d7d;
            background: #fff;
        }
    .selectize-dropdown {
        position: absolute;
        z-index: 10;
        overflow-y: auto;
        overflow-x: hidden;
        max-height: 205px;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        height: auto !important;
        padding: 0;
        background-color: #f9f9f9;
        border-top: 1px solid #00aeef;
        border-radius: 0 0 5px 5px;
        box-shadow: 0 2px 4px rgba(0,0,0,.55);
    }
        .selectize-dropdown-header {
            position: relative;
            padding: 5px 8px;
            border-bottom: 1px solid #d0d0d0;
            background: #f8f8f8;
            border-radius: 3px 3px 0 0;
        }
            .selectize-dropdown-header-close {
                position: absolute;
                right: 8px;
                top: 50%;
                color: #303030;
                opacity: .4;
                margin-top: -12px;
            }
            .selectize-dropdown-header-close:hover {
                color: #000;
            }
        .selectize-dropdown-content {
           
        }
            .selectize-dropdown [data-selectable] {
                overflow: hidden;
                padding: 10px 20px 10px 10px;
                color: #000;
                font-size: 14px;
                cursor: pointer !important;
            }
            .selectize-dropdown [data-selectable]:last-child {
                border-radius: 0 0 5px 5px;
            }
                .selectize-dropdown .active {
                   background-color: #a1e3fc;
                }   
                .selectize-dropdown .active.create {
                   
                }
                .selectize-dropdown .create {
                    color: rgba(48, 48, 48, 0.5);
                }
                .selectize-dropdown [data-selectable] .highlight {
                    background: rgba(125, 168, 208, 0.2);
                    border-radius: 1px;
                }
            .selectize-dropdown [data-selectable],
            .selectize-dropdown .optgroup-header {
                
            }
        .selectize-dropdown.plugin-optgroup_columns .optgroup {
            -moz-box-sizing: border-box;
            box-sizing: border-box;
             float: left;
            border-right: 1px solid #f2f2f2;
            border-top: none;    
        }    
        .selectize-dropdown.plugin-optgroup_columns .optgroup:last-child {
            border-right: 0 none;
        }
            .selectize-dropdown.plugin-optgroup_columns .optgroup:before {
                display: none;
            }
            .selectize-dropdown .optgroup-header {
                color: #303030;
                background: #fff;
                cursor: default;
            }
            .selectize-dropdown.plugin-optgroup_columns .optgroup-header {
                border-top: none;
            }
            .selectize-dropdown .optgroup:first-child .optgroup-header {
                border-top: 0 none;
            }
    .selectize-control.plugin-remove_button [data-value] {
        position: relative;
        padding-right: 24px !important;
    }
    .selectize-control.plugin-remove_button [data-value] .remove { 
        position: absolute;
        z-index: 1;
        top: 0;
        right: 0;
        bottom: 0;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        width: 17px;
        padding: 2px 0 0 0;
        border-left: 1px solid #d0d0d0;
        border-radius: 0 2px 2px 0;
        text-align: center;
        text-decoration: none;
        vertical-align: middle; 
    }
    .selectize-control.plugin-remove_button [data-value] .remove:hover {
        background: rgba(0, 0, 0, .05);
    }
    .selectize-control.plugin-remove_button [data-value].active .remove {
        border-left-color: #cacaca;
    }
    .selectize-control.plugin-remove_button .disabled [data-value] .remove:hover {
        background: none;
    }
    .selectize-control.plugin-remove_button .disabled [data-value] .remove {
        border-left-color: #fff;
    }        

    .selectize-control.plugin-drag_drop.multi > .selectize-input > div.ui-sortable-placeholder {
        visibility: visible !important;
        background: #f2f2f2 !important;
        background: rgba(0, 0, 0, .06) !important;
        border: none !important;
        box-shadow: inset 0 0 12px 4px #fff;
    }
    .selectize-control.plugin-drag_drop .ui-sortable-placeholder:after {
        content: '!';
        visibility: hidden;
    }
    .selectize-control.plugin-drag_drop .ui-sortable-helper {
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }