@charset "utf-8";

/*--custom fonts include--*/
@font-face {
	font-family: "intro";
	src: url("../fonts/intro-webfont.eot");
	src: url("../fonts/intro-webfont.eot?#iefix") format("embedded-opentype"),
		 url("../fonts/intro-webfont.ttf") format("truetype"),
		 url("../fonts/intro-webfont.woff") format("woff");
}
@font-face {
	font-family: "helveticaneue";
	src: url("../fonts/helveticaneue-webfont.eot");
	src: url("../fonts/helveticaneue-webfont.eot?#iefix") format("embedded-opentype"),
		 url("../fonts/helveticaneue-webfont.ttf") format("truetype"),
		 url("../fonts/helveticaneue-webfont.woff") format("woff");
}
@font-face {
	font-family: "helveticaneue-medium";
	src: url("../fonts/helveticaneue-medium-webfont.eot");
	src: url("../fonts/helveticaneue-medium-webfont.eot?#iefix") format("embedded-opentype"),
		 url("../fonts/helveticaneue-medium-webfont.ttf") format("truetype"),
		 url("../fonts/helveticaneue-medium-webfont.woff") format("woff");
}
@font-face {
	font-family: "helveticaneue-bold";
	src: url("../fonts/helveticaneue-bold-webfont.eot");
	src: url("../fonts/helveticaneue-bold-webfont.eot?#iefix") format("embedded-opentype"),
		 url("../fonts/helveticaneue-bold-webfont.ttf") format("truetype"),
		 url("../fonts/helveticaneue-bold-webfont.woff") format("woff");
}
	
/*-----NORMALIZE STYLE------*/

	/*--base--*/
	html { overflow-y: scroll; }
	html, body { height: 100%; margin: 0; padding: 0; }
	body { background: #F9F9F9; color: #000; font: 13px/1.5 "helveticaneue", Arial, Helvetica, sans-serif; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: antialiased; }

	/*--html5--*/
	article, aside, details, figcaption, figure, footer, header, nav, section, summary { display: block; margin: 0; }

	/*--outline--*/
	img { border: none; }

	/*--typography--*/
	a { color: #007BA9; -webkit-tap-highlight-color: transparent; }
	/*a:visited { color: #1f5beb; }*/
	a:hover { color: #6e98fd; }
	a:focus { outline: thin dotted; }
	a:active { outline: 0; }
	.underline { display: inline-block; line-height: 1.1; text-decoration: none !important; border-width: 0 0 1px; border-style: solid; border-color: #f8dc21; border-bottom-color: rgba(250, 220, 35, .3); }

	h1, h2, h3, h4, h5, h6, .heading1, .heading2, .heading3, .heading4, .heading5, .heading6 { color: #222; font-weight: normal; line-height: 1.1; }
	h1, .heading1 { margin: 0 0 .8em; font-size: 30px; }
	h2, .heading2 { margin: 0 0 .8em; font-size: 26px; }
	h3, .heading3 { margin: 0 0 .8em; font-size: 22px; }
	h4, .heading4 { margin: 0 0 .8em; font-size: 20px; }
	h5, .heading5 { margin: 0 0 .8em; font-size: 18px; }
	h6, .heading6 { margin: 0 0 .8em; font-size: 16px; }

	b, strong { font-weight: bold; }
	i, em { font-style: italic; }
	blockquote { margin: 1em 40px; }
	.blockquote_b {}
	p { margin: 0 0 1em; }
	p:last-child { margin-bottom: 0; }
	address { font-style: normal; }
	small { font-size: 75%; }
	sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
	sup { top: -.5em; }
	sub { bottom: -.25em; }

	ol, ul, menu { margin: 1em 0; padding: 0; }
	ul { list-style-position: inside; }
	dd { margin: 0 0 0 40px; }

	/*--forms--*/
	fieldset { background: none; border: none; }
	form, fieldset, input, select, textarea, button { margin: 0; padding: 0; }
	input, select, textarea, button { font: 12px Arial, Helvetica, sans-serif; vertical-align: baseline; }
	button, input { line-height: normal; }
	button { vertical-align: top; }
	button::-moz-focus-inner { padding: 0; border: none; }
	label, button, input[type="submit"], input[type="button"] { cursor: pointer; }
	input, textarea { -moz-box-sizing: border-box; box-sizing: border-box; }
	textarea { overflow: auto; vertical-align: top; resize: vertical; }

	/*--iOS appearance input--*/
	input, textarea, select { border-radius: 0; }

	/*--tables--*/
	table { border-collapse: collapse; border-spacing: 0; }

	/*--helpers--*/
	.ctr { position: relative; width: 980px; margin: auto; padding: 0 10px; }
	.active { cursor: default !important; }
	.fll { float: left; }
	.flr { float: right; }
	.clearfix:after { content: ""; display: table; clear: both; }
	.hidden { display: none; }
	.jsf { font-size: .15em; text-align: justify !important; }
		.jsf > * { font-size: 13px; }
		.jsf:after { content: ""; display: inline-block; width: 100%; height: 0; }
	
	::-webkit-input-placeholder { color: #535353; opacity: 1; }
	::-moz-placeholder { color: #535353; opacity: 1; }
	:-ms-input-placeholder { color: #535353; opacity: 1; }
	.placeholder { color: #535353; opacity: 1; }

/*-----PAGES STYLE------*/

/*main_b*/

.main_b {
	min-height: 100%;
}	

	/*header_b*/
	
	.header_b {
		/*display: none;*/
		border-top: 5px solid #000;
		margin: 0 0 20px;
		padding: 20px 0 0;
	}

		/*logo_b*/

		.logo_b {
			display: inline-block;
			text-indent: -9999px;
		}
		a.logo_b:focus {
			outline: none;
		}
	
		/*navGlobal_b*/

		.navGlobal_b {

		}
			.navGlobal_b-list {
				margin: 0;
				list-style: none;
				/*text-align: center;*/
			}
				.navGlobal_b-item {
					display: inline-block;
					margin: 0 2px 7px;
					background-color: #fff;
					border: 2px solid #39E1BF;
				}
					.navGlobal_b-link {
						display: block;
						padding: 4px 10px;
						font-size: 14px;
						text-decoration: none;
					}
					.navGlobal_b-link:hover, .navGlobal_b-link.active {
						background-color: #39E1BF;
						color: #fff;
					}
					.navGlobal_b-link:focus {
						outline: none;
					}
					.navGlobal_b-subList {

					}
						.navGlobal_b-itemSubList {

						}
							.navGlobal_b-linkSubList {
								
							}
			.navGlobal_b-toggle {
				display: none;
			}				

	.main_b-wrap {
		padding: 0 0 120px;
	}	
		.main_b-heading {
			margin-bottom: 20px;
			padding: 20px 0 0;
			font-family: "intro", Arial, sans-serif;
			font-size: 42px;
			text-align: center;
		}	
		.main_b-heading.error {
			color: red;
		}
		.main_b-heading.complete {
			color: green;
		}
		.main_b-content {
			
		}
		.message {
			text-align: center;
		}
			.main_b-ipinfo {
				background-color: #fff;
				margin: 0 0 35px;
				padding: 35px 0;
				border-top: 1px solid #ebebeb;
				border-bottom: 1px solid #ebebeb;
			}
				.main_b-ipinfo-item {
					display: inline-block;
					width: 45%;
					vertical-align: top;
					text-align: left;
				}
				.main_b-ipinfo-item.v2 {
					display: block;
					width: 100%;
					margin: 0 0 30px;
				}
				.main_b-ipinfo-item.v2:last-child {
					margin-bottom: 0;
				}
					.main_b-ipinfo-ip {
						margin: 0 0 25px;
						font-family: "intro", Arial, sans-serif;
						font-size: 36px;
						line-height: 1.2;
					}
					.main_b-ipinfo-ip.local {
						/*font-size: 28px;*/
						color: #777;
					}
						.main_b-ipinfo-heading {
							margin-bottom: 10px;
							font-family: "helveticaneue-medium", Arial, sans-serif;
							font-size: 20px;
						}
						/* .main_b-ipinfo-ip.local .main_b-ipinfo-ip-heading {
							font-size: 16px;
						} */
					.main_b-ipinfo-item-infolist {
						margin: 0;
						padding: 0;
					}	
						.main_b-ipinfo-item-infolist dt {
							float: left;
							margin: 0 5px 0 0;
							font-family: "helveticaneue-bold", Arial, sans-serif;
						}
						.main_b-ipinfo-item-infolist dd {
							overflow: hidden;
							margin: 0 0 5px;
						}
						.main_b-ipinfo-item-infolist dd:last-child {
							margin-bottom: 0;
						}
					.main_b-ipinfo-result {
						
					}	
					.main_b-ipinfo-result.domain {
						font-family: "intro", Arial, sans-serif;
						font-size: 18px;
					}
						.main_b-ipinfo-result.domain .available {
							color: #39E1BF;
						}
						.main_b-ipinfo-result.domain .unavailable {
							color: #e13939 ;
						}
			.main_b-desc {
				font-size: 14px;
			}			

		.main_b-aside {

		}

		
/*footer*/

.footer_b {
	min-height: 30px;
	margin: -30px 0 0;
	background-color: #111;
	text-align: center;
}	
	.footer_b-copy {
		padding: 7px 0 0;
		color: #fff;
		font-size: 12px;
	}
	.footer_b-like {
		position: absolute;
		right: 0;
		left: 0;
		margin: -40px 0 0;
	}

/*-----MEDIA QUERIES------*/

@media screen and (max-width: 1024px) {
	
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
    /* Retina-specific stuff here */
}	